<a href="https://colab.research.google.com/github/jaeohshin/python-basic/blob/main/day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 점프 투 파이썬, Aug 26 -- Sep 30. 2024

# Control

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [ ]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d 번 학생은 합격입니다." % number)

1 번 학생은 합격입니다.
3 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [ ]:
a = range(10)
a

range(0, 10)

In [ ]:
print(a)

range(0, 10)

In [ ]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=" ")
    print('\n')

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

4 8 12 16 20 24 28 32 36

5 10 15 20 25 30 35 40 45

6 12 18 24 30 36 42 48 54

7 14 21 28 35 42 49 56 63

8 16 24 32 40 48 56 64 72

9 18 27 36 45 54 63 72 81

In [ ]:
a= [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)

In [ ]:
print(result)

[3, 6, 9, 12]

In [ ]:
result = [num *3 for num in a]
result

[3, 6, 9, 12]

In [ ]:
result = [num*3 for num in a if num %2==0]

In [ ]:
result

[6, 12]

In [ ]:
result = [x*y for x in range(2, 10) for y in range(1, 10)]

In [ ]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]