<a href="https://colab.research.google.com/github/jaeohshin/python-basic/blob/main/day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 점프 투 파이썬, Aug 26 -- Sep 30. 2024

# Function

In [ ]:
def add(a, b):
    return a+b

In [ ]:
print(add(1, 2))

3

In [ ]:
def greeting():
    return ("Hi!")

In [ ]:
greeting()

'Hi!'

In [ ]:
a= greeting()

In [ ]:
print(a)

Hi!

In [ ]:
def hi():
    print("Hi!")

In [ ]:
a=hi()

Hi!

In [ ]:
print(a)

None

In [ ]:
hi()

Hi!

In [ ]:
def sub(a, b):
    return a-b

In [ ]:
result = sub(a=4, b=1)

In [ ]:
print(result)

3

In [ ]:
result = sub(b=1, a=4)

In [ ]:
print(result)

3

In [ ]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return (result)

In [ ]:
r = add_many(1, 2, 3)

In [ ]:
print(r)

6

In [ ]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i

    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i

    return result

In [ ]:
r = add_mul("mul", 1, 2, 3, 4, 5,)

In [ ]:
r

120

In [ ]:
def print_kwargs(**kwargs):
    return(kwargs)

In [ ]:
print_kwargs(a=1)

{'a': 1}

In [ ]:
a = print_kwargs(name='foo', age=3)

In [ ]:
print(a)

{'name': 'foo', 'age': 3}

In [ ]:
a['age']

3

In [ ]:
def add_mul(a, b):
    return a+b, a * b

In [ ]:
result1 = add_mul(2, 4)

In [ ]:
print(result1)

(6, 8)

In [ ]:
def say_myself(name, age, man=True):
    print("My name is %s" % name)
    print("I am %d years old" % age)
    if man:
        print ("I am a man")
    else:
        print("I am a woman")

In [ ]:
say_myself("홍길동", 27, False)

My name is 홍길동
I am 27 years old
I am a woman